<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>0美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>1电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3KTV</string>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4优惠买单</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5周边游</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>6预定早餐</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>7外卖</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>8美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>9电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>10酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>11KTV</string>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>12优惠买单</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>13周边游</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>14预定早餐</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>15外卖</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>16美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>17电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>18酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>19KTV</string>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>20优惠买单</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>21周边游</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>22预定早餐</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>23外卖</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>24美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>25电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>26酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>27KTV</string>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>28优惠买单</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>29周边游</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>30预定早餐</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
</array>
</plist>
